/* You can add global styles to this file, and also import other style files */
:root {
  --base-color: #222;
  --light-color: #aaa;
}

* {
  font-family: 'Roboto', Arial, sans-serif;
  color: var(--base-color);
  font-weight: 300;
  line-height: 1.4;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}
